extends layout

block content
    .row.page-header
        .col-lg-12
            h1 Fitness Program
            p.lead Welcome to our app
            .row
            .col-xs-12.col-md-6
                form.form-horizontal(action="/routes", method="get", role="form")
                    .form-group
                    table
                        tr
                            th Exercice
                            th Description
                            th Set
                            th Reps
                        tr
                            td 
                                input#Exercise.form-control(type='Text' name="Exercise")
                            td 
                                input#Description.form-control(name="Description")
                            td 
                                input#Set.form-control(name="Set")
                            td 
                                input#Reps.form-control(name="Reps/time")

                       tr
                            td
                                button(type='button' value='Submit') Add Exercise

                    

