extends layout

block content
    .row.page-header
        .col-lg-12
            h1 Fitness Program
            p.lead Welcome to our app
            .row
            .col-xs-12.col-md-6
                form.form-horizontal(action="/routes", method="get", role="form")
                    .form-group
                        tr
                            td
                                 input#Exercise.form-control(type='Text' name="Exercise")
                            td
                            td
               
                .form-group
                label.col-xs-10.col-sm-2.control-label(for="Description") Description
                    .col-xs-12.col-sm-10
                        input#Description.form-control(name="Description")
                .form-group
                label.col-xs-10.col-sm-2.control-label(for="Set") Set
                    .col-xs-12.col-sm-10
                        input#Exercise.form-control(name="Set")
                .form-group
                label.col-xs-10.col-sm-2.control-label(for="Reps/time") Reps/time
                    .col-xs-12.col-sm-10
                        input#Exercise.form-control(name="Reps/time")
                .form-group

                .col-md-12.col-sm-6
                        button(type='button' href='www.google.com') Add Exercise
