extends layout

block content
    .row.page-header
        .col-lg-12
            h1 Fitness Program
            p.lead Welcome to our app
            .row
                .col-md-2
                    h4 test1
                .col-md-2.hidden-sm.hidden-xs
                    h4 test2

                .col-xs-12.col-md-6
                form.form-horizontal(action="/routes", method="get", role="form")
                    .form-group
                label.col-xs-10.col-sm-2.control-label(for="Exercise") Exercise
                        .col-xs-12.col-sm-10
                            input#Exercise.form-control(name="Exercise")
                .form-group
                label.col-xs-10.col-sm-2.control-label(for="Description") Description
                    .col-xs-12.col-sm-10
                        input#Exercise.form-control(name="Exercise")
                .form-group
                label.col-xs-10.col-sm-2.control-label(for="Set") Set
                    .col-xs-12.col-sm-10
                        input#Exercise.form-control(name="Exercise")
                .form-group
                label.col-xs-10.col-sm-2.control-label(for="Reps/time") Reps/time
                    .col-xs-12.col-sm-10
                        input#Exercise.form-control(name="Exercise")
                .form-group

                .col-md-12.col-sm-6
                    a(href='google.com') Google
                      a(class='button' href='google.com') Google