extends layout

block content
    .row.page-header
        .col-lg-12
            h1 Fitness Program
            p.lead Welcome to our app
            .row
            .col-xs-12.col-md-6
                form.form-horizontal(action="/routes", method="get", role="form")
                    .form-group
                    table
                        tr
                            th Exercice
                            th Description
                            th Set
                            th Reps
                        tr
                            td 
                                input#Exercise.form-control(type='Text' name="Exercise" value=(undefined == addfitness ? '' : addfitness.exercise)
                            td 
                                input#Description.form-control(name="Description" value=(undefined == addfitness ? '' : addfitness.description)
                            td 
                                input#Set.form-control(name="Set" value=(undefined == addfitness ? '' : addfitness.sets)
                            td 
                                input#Reps.form-control(name="Reps/time" value=(undefined == addfitness ? '' : addfitness.repstime)

                       tr
                            td
                                button(type='button' href='www.google.com') Add Exercise
                
               // table
                       tr
                           th Exercice
                           th Description
                           th Set
                           th Reps
                    for object in addfitness
                       tr
                           td = object.exercise
                           td = object.description
                           td = object.sets
                           td = object.repstime
